<a href="https://colab.research.google.com/github/psygrammer/psypy/blob/master/notebooks/02_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02. Python Language Basics

* 싸이그래머 / PsyPy [1]
* 김무성

In [1]:
!python -V

Python 3.6.8

# 차례

파이썬 인터프리터 

시멘틱
* 들여쓰기
* 모든 것은 객체
* 주석
* 함수와 객체 메서드 호출
* 변수와 참조에 의한 전달
* 동적 참조와 강한 타입
* 속성과 메서드
* 덕 타이핑
* 모듈 import
* 이항연산자와 비교문
* 평가 방식
* 뮤터블, 이뮤터블 객체

스칼라형<br>

흐름 제어

-----------------------

## 파이썬 인터프리터

* 파이썬은 인터프리터 언어 (한 번에 하나의 명령어만 실행)
* 데이터 분석가들은 기본 인터프리터 보다 ipython을 사용하는 경향(그런데 이것도 점점 jupyther notebook 으로 -> 다시 Google Colab으로 이동중)

-----------------------

## 시멘틱

### 들여쓰기

```python
for x in array :
    if x < pivot :
        less.append(x)
    else :
        qreater.append(x)
```

```python
a = 5; b = 6; c = 7;  # 한 줄에 문장이 여럿일 때는 구분하기 위해 ;을 쓴다. 하지만 파이썬에서는 가독성 때문에 권하지 않는다.
```

### 모든 것은 객체

객체 모델의 일관성은 파이썬의 중요한 특징. 모든 숫자, 문자열, 자료 구조, 함수, 클래스, 모듈 등은 파이썬 인터프리터에서 파이썬 객체로 저장된다. 함수마저 하나의 객체로 간주한다.

### 함수와 객체 메서드 호출

```python
# 함수 호출
result = f(x, y, z)
g()

# 메서드 - 객체가 포함하고 있는 함수
obj.some_method(x, y, z)

# 함수는 순서별(일반) 인자와 키워드 인자를 동시에 받을 수 있다.
result = f(a, b, c, d=5, e='foo')
```

### 변수와 참조에 의한 전달

In [2]:
a = [1, 2, 3]
print(a)

b = a

a.append(4)

print(b)

[1, 2, 3]
[1, 2, 3, 4]

<img src='https://github.com/psygrammer/psypy/blob/master/notebooks/figures/02/01_fig.a.1.png?raw=1'/>

In [0]:
def append_element(some_list, element) :
    some_list.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

### 동적 참조와 강한 타입

In [3]:
a = 5
type(a)

int

In [4]:
a = 'foo'
type(a)

str

In [5]:
'5' + 5  # 파이썬은 자료형이 없는 언어가 아니다. 묵시적 변환이 일어날 뿐. 다음은 묵시적 변환 실패시의 에러를 보여준다.

TypeError: must be str, not int

### 속성과 메서드

In [7]:
a = 'foo'

a. # .을 찍고 탭키를 누르면 아래 그림과 같이 속성과 메서드들이 선택할 수 있게 나타난다.

<img src='./figures/02/01_fig.a.3.png'/>

### 덕 타이핑

덕 타이핑 - http://ko.wikipedia.org/wiki/덕_타이핑

In [8]:
def isiterable(obj) :
    try :
        iter(obj)
        return True
    except TypeError : # not interable
        return False

In [9]:
isiterable('a string')

True

In [10]:
isiterable([1, 2, 3])

True

In [11]:
isiterable(5)

False

```python
# 순차적 자료구조라면, 객체가 리스트인지 검사해서 그렇지 않은 경우 인자를 변환해줄 수 있다.
if not isinstance(x, list) and isiterable(x) :
    x = list(x)
```

### 모듈 import

In [ ]:
# 파이썬에서 모듈은 다른 .py 파일에서 추가해서 사용할 수 있는 함수와 변수 선언을 담고 있는 .py 파일이다. 
# 다음과 같은 모듈을 가지고 있다고 가정하자.

In [12]:
%ls some_module.py

ls: some_module.py: No such file or directory

In [13]:
%%writefile some_module.py

### some_module.py
PI = 3.14159

def f(x) : 
    return 3.14159

def g(a, b) : 
    return a+b

Writing some_module.py

In [14]:
%ls some_module.py

some_module.py

In [15]:
import some_module
result = some_module.f(5)
pi = some_module.PI
print(result)
print(pi)

3.14159
3.14159

In [16]:
from some_module import f, g, PI
result = g(5, PI)
print(result)

8.14159

In [17]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)
print(r1)
print(r2)

3.14159
9.14159

### 이항연산자와 비교문

<img src='./figures/02/01_tbl.a.1.1.png'/>
<img src='./figures/02/01_tbl.a.1.2.png'/>

In [18]:
5 - 7

-2

In [19]:
12 + 21.5

33.5

In [20]:
5 <= 2

False

In [21]:
a = [1, 2, 3]
b = a
c = list(a)

In [22]:
a is b

True

In [23]:
a is not c

True

In [24]:
a is c

False

In [25]:
# is 와 ==는 결과가 다르다. is는 두 참조 변수가 같은 객체를 가리키고 있는지 검사할 때 쓴다.
a == c

True

### 평가 방식

In [26]:
# 파이썬은 즉시 수행된다. 게으른 평가(lazy evaluation) 방식이 아니라 문장이 검사되고 나면 즉시 계산이 수행된다.
# (이터레이터와 제너레이터를 이용해서 게으른 평가 방식을 구현할 수는 있다.)
# print_me 은 절대로 실행되지 않는다. 
# 파이썬은 0 만나면 전체 표현식을 False로 결정할 수 있기 때문.
def print_me():
    rint('I am here!')

0 and print_me()

0

### 뮤터블, 이뮤터블 객체

In [27]:
# 리스트는 값을 바꿀 수 있는 자료형이다. 
a_list = ['foo', 2, [4, 5]]
print(a_list)
a_list[2] = (3,4)
print(a_list)

['foo', 2, [4, 5]]
['foo', 2, (3, 4)]

In [28]:
a_tuple = (3, 5, (4, 5))
print(a_tuple)
a_tuple[1] = 'four'
print(a_tuple)  # 튜플은 이뮤터블(값을 바꿀수 없는) 객체이므로 에러가 난다.

(3, 5, (4, 5))

TypeError: 'tuple' object does not support item assignment

------------------------------

## 스칼라형

* 숫자 자료형
* 문자열
* 불리언
* 형변환
* None
* 날짜와 시간

<img src='./figures/02/01_tbl.a.2.png'/>

### 숫자 자료형

In [29]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [32]:
fval = 7.243
print(fval)

fval2 = 6.78e-5
print(fval2)

7.243
6.78e-05

In [33]:
3 / 2

1.5

In [34]:
3 // 2 # 나눗셈 몫

1

In [35]:
# 복소수
cval = 1 + 2j 
cval * (1 - 2j)

(5+0j)

### 문자열

In [36]:
a = 'one way of writing a string'
b = "another way"
print(a)
print(b)

one way of writing a string
another way

In [37]:
c = """
This is a longer string that
spans multiple lines
"""
print(c)

This is a longer string that
spans multiple lines

In [38]:
a = 'this is a string'
a[10] = f # 문자열은 이뮤터블 객체. 에러가 난다.

TypeError: 'str' object does not support item assignment

In [39]:
b = a.replace('string', 'longer strng')
b

'this is a longer strng'

In [41]:
# str 함수를 쓰면 문자열로 변환가능.
a = 5.6
print(a)
print(type(a))

s = str(a)
print(s) # 이것은 문자
print(type(s))

5.6
<class 'float'>
5.6
<class 'str'>

In [42]:
# 문자열은 일련된 글자의 연속. 다른 순차적인 자료형과 같이 취급
s = 'python'
s[:3]

'pyt'

In [43]:
# 두 문자열을 더하면 이 둘을 이어붙인 새로운 문자열을 생성. 
a = 'this is the first half'
b = 'and this is the second half'
a + b

'this is the first halfand this is the second half'

In [49]:
# 포맷팅 1
template = '%.2f %s are worth $%d'
print(template %(4.5560, 'Argentine Pesos', 1))
print('%.2f %s are worth $%d' %(4.5560, 'Argentine Pesos', 1))

4.56 Argentine Pesos are worth $1
4.56 Argentine Pesos are worth $1

In [50]:
# 포맷팅 2
template = '{} {} are worth ${}'
print(template.format(4.5560, 'Argentine Pesos', 1))
print('{} {} are worth ${}'.format(4.5560, 'Argentine Pesos', 1))

4.556 Argentine Pesos are worth $1
4.556 Argentine Pesos are worth $1

### 불리언

In [52]:
True and True

True

In [53]:
False or True

True

In [55]:
bool([])

False

In [56]:
bool([1,2,3])

True

In [57]:
bool(0), bool(1)

(False, True)

### 형변환

In [60]:
s = '3.14159'
print(s)
print(type(s))

3.14159
<class 'str'>

In [61]:
fval = float(s)
print(fval)
type(fval)

3.14159

float

In [62]:
int(fval)

3

In [63]:
bool(fval)

True

In [64]:
bool(0)

False

### None

In [65]:
# None은 파이썬에서 사용하는 널(null)값이다. 만약 어떤 함수에서 명시적으로 값을 반환하지 않으면 묵시적으로 None을 반환한다.
# None은 예약어가 아니라 NoneType의 유일한 인스턴스이다.
a = None
a is None

True

In [66]:
b = 5
b is None

False

```python
# None은 함수의 옵션 인자의 기본 값으로 흔히 사용되기도 한다.
def add_and_maybe_multiply(a, b, c=None) :
    result a + b
    
    if c is not None :
        result = result + c
        
    return result
```

### 날짜와 시간

In [67]:
from datetime import datetime, date, time

dt = datetime(2017, 12, 19, 13, 10, 21)
print(dt.day)
print(dt.minute)

19
10

In [68]:
dt.date()

datetime.date(2017, 12, 19)

In [69]:
dt.time()

datetime.time(13, 10, 21)

In [70]:
# datetime 객체를 문자열로 바꿔준다.
dt.strftime('%m/%d/%Y %H:%M')

'12/19/2017 13:10'

In [71]:
# 문자열을 datetime 객체로 바꿔준다.
datetime.strptime('20171219', '%Y%m%d')

datetime.datetime(2017, 12, 19, 0, 0)

In [72]:
# datetime의 특정 필드를 치환
dt.replace(minute=0, second=0)

datetime.datetime(2017, 12, 19, 13, 0)

In [73]:
# 두 datetime 객체의 차이는 datetime.timedelta 객체를 반환
dt2 = datetime(2017, 12, 19, 22, 30)

delta = dt2 - dt
delta

datetime.timedelta(0, 33579)

In [74]:
dt

datetime.datetime(2017, 12, 19, 13, 10, 21)

In [75]:
# datetime 객체에 timedelta 객체를 더하면 그 만큼 시간이 지연된 datetime 객체를 얻는다.
dt + delta

datetime.datetime(2017, 12, 19, 22, 30)

In [77]:
# 오늘
datetime.today()

datetime.datetime(2019, 11, 9, 8, 51, 54, 325181)

-------------------

## 흐름 제어

* if, elif, else
* for 반복문
* while 반복문
* pass
* 예외 처리
* range와 xrange
* 삼단 표현

### if, elif, else

In [78]:
x = 3

if x < 0 :
    print("It's nagative")
    
    
if x < 0 : 
    print('a')
elif x == 0 :
    print('b')
elif 0 < x < 5 :
    print('c')
else :
    print('d')

c

### for 반복문

In [79]:
sequence = [1, 2, None, 4, None, 5]

total = 0
for value in sequence :
    if value is None :
        continue
    total += value
    
print(value)

5

In [80]:
range(5)

range(0, 5)

In [81]:
for i in range(5) :
    print(i)

0
1
2
3
4

### while 반복문

In [82]:
x = 256

total = 0

while x > 0 :
    if total > 500 :
        break
    total += x
    x = x // 2

print(x)

4

### pass

In [83]:
# pass는 파이썬의 아무것도 하지 않음을 나타냄

x = 0

if x < 0 :
    print('negative!')
elif x == 0 :
    # TODO : 나중에 뭔가 추가해야 함
    pass
else :
    print('positive!')

### 예외 처리

In [84]:
float('1.2345')

1.2345

In [85]:
float('something')

ValueError: could not convert string to float: 'something'

In [86]:
def attempt_float(x) :
    try :
        return float(x)
    except :
        return x

In [87]:
attempt_float('1.2345')

1.2345

In [88]:
attempt_float('something')

'something'

### range

In [89]:
range(10)

range(0, 10)

In [90]:
range(0, 20, 2)

range(0, 20, 2)

In [91]:
seq = [1, 2, 3, 4]
for i in range(len(seq)) :
    val = seq[i]
    print(val)

1
2
3
4

### 삼단 표현

```python
# if-else 블록을 한 줄로 표현 가능
value = true-expr if condition else false-expr
```

```python
# 위 코드는 다음과 동일
if condtion :
    value = true-expr
else :
    value = false-expr
```

In [92]:
x = 5

'Non-negative' if x >=0 else 'Negative'

'Non-negative'

-----------------------

# 참고자료 
* [1] 파이썬 라이브러리를 활용한 데이터 분석(2판)
    - http://www.hanbit.co.kr/store/books/look.php?p_code=B6417848794